/* 字体颜色 */
.s_font {
  background-image: linear-gradient(to top, #dbaa40, #efd961);
  -webkit-background-clip: text;
  color: transparent;
}
/* 公用表格样式 */
.table {
  width: 100%;
  margin: 0 auto;
  font-size: .28rem;
  background-color: #000;
  border-collapse: collapse;
}
.table th {
  background-image: linear-gradient(to bottom, #424242, #181819);
  color: #edd57e;
  height: 0.6rem;
  line-height: 0.6rem;
}
.table td {
  border: 1px solid #745e2c;
  line-height: .56rem;
  padding: 0.1rem 0;
  line-height: 0.3rem;
}
.table td:first-child {
  border-left: none;
}
.table td:last-child {
  border-right: none;
}
/* 表单盒子 */
.r_box_form {
  font-size: 0;
}
/* 输入框 选择框样式 */
.form_item {
  width: 100%;
  padding: 0 0.27rem;
  text-align: center;
  display: inline-block;
  height: 1.34rem;
}
.form_item .form_item_in {
  display: inline-block;
  width: 100%;
  height: 0.9rem;
  background-color: #000;
  color: #fff;
  font-size: 0.3rem;
  line-height: 0.9rem;
  text-align: left;
  padding-left: 0.3rem;
  border: 1px solid #fafbbc;
  border-radius: 0.45rem;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.form_item .form_item_in label {
  display: inline-block;
  height: 100%;
  width: 25%;
}
.form_item .form_item_in input,
.form_item .form_item_in select {
  width: 60%;
  color: #f8f5b3;
  background-color: #000;
  height: 0.7rem;
  font-size: 0.3rem;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  margin-top: 0.02rem;
}
.form_item .form_item_in input.full {
  left: 0;
  width: 100%;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.form_item .select:after {
  position: absolute;
  display: inline-block;
  pointer-events: none;
  content: " ";
  height: 0.2rem;
  width: 0.2rem;
  border-width: 0.02rem 0.02rem 0 0;
  border-color: #fff;
  border-style: solid;
  top: 50%;
  right: 0.3rem;
  transform: rotate(134deg) translateY(100%);
}
.form_item .meg_error {
  color: red;
  text-align: left;
  padding-left: 0.27rem;
  font-size: 0.24rem;
  margin-top: 0.03rem;
}
