.commission_index {
  color: #fff;
}
.commission_index .main_commission {
  padding: 0.36rem 0.28rem;
}
.commission_index .main_commission .page_info {
  background-image: linear-gradient(to bottom, #2e2e2e, #212121);
  padding: 0.52rem 0.27rem;
  overflow: hidden;
}
.commission_index .main_commission .page_info .box_top_page_info {
  display: flex;
  font-size: 0.28rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #373737;
  padding-bottom: 0.25rem;
}
.commission_index .main_commission .page_info .box_top_page_info .ci_text {
  margin-right: 0.32rem;
  line-height: 0.54rem;
}
.commission_index .main_commission .page_info .box_top_page_info .commission_info {
  display: flex;
  font-size: 0.4rem;
}
.commission_index .main_commission .page_info .box_top_page_info .ci_insignia {
  font-size: 0.3rem;
}
.commission_index .main_commission .page_info .box_top_page_info .show_info {
  color: #e9cd71;
  padding-right: 0.35rem;
  background: url('../images/icon_jiantou.png') no-repeat right center / auto 65%;
}
.commission_index .main_commission .page_info .box_total {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.26rem;
  padding: 0.11rem;
  border-bottom: 1px solid #373737;
}
.commission_index .main_commission .page_info .box_total > div {
  width: 2.5rem;
  height: 1.1rem;
  border: 1px solid #daa940;
  margin: 0.12rem;
  padding-top: 0.12rem;
  font-weight: bold;
}
.commission_index .main_commission .page_info .box_total > div .total_name {
  margin-bottom: 0.1rem;
}
.commission_index .main_commission .page_info .box_total .highest {
  color: #e32121;
}
.commission_index .main_commission .page_info .box_total .lowest {
  color: #1dc668;
}
.commission_index .main_commission .page_info .box_total .total {
  color: #e38f21 ;
}
.commission_index .main_commission .page_info .box_total .average {
  color: #21b3e3;
}
.commission_index .main_commission .page_info .box_chart {
  margin-top: 0.4rem;
}
.commission_index .main_commission #commission_areaspline {
  margin-top: 0.1rem;
  height: 4rem;
}
